<nav>
  <%= link_to "About Me", "", class: "link" %>
  <%= link_to "Services", "", class: "link left" %>
  <%= link_to "Dionis Estrella", root_path, class: "link", id: "Dionis" %>
  <%= link_to "Health Plan", "", class: "link right" %>
  <%= link_to "Blog", "", class: "link" %>
  <%= link_to "Shop", "", class: "link" %>
</nav>
