<main class="row">
  <section class="health">
    <h1>What you'll be getting:</h1>
    <div class="container">
      <div class="card">
        <figure class="media">
          <%= image_tag "http://via.placeholder.com/350x350", class: "card-image" %>
          <strong>Food Tips</strong>
        </figure>
        <p class="card-text">
          <br/>
          Guidelines on eating healthy and nourishing yourself.
        </p>
      </div>
      <div class="card">
        <figure class="media">
          <%= image_tag "http://via.placeholder.com/350x350", class: "card-image" %>
          <strong>Peace <br> of Mind</strong>
        </figure>
        <p class="card-text">
          <br/>
          Training in laserlike focus on mental attitudes and viewpoints.
        </p>
      </div>
      <div class="card">
        <figure class="media">
          <%= image_tag "http://via.placeholder.com/350x350", class: "card-image" %>
          <strong>Strength <br> of Body</strong>
        </figure>
        <p class="card-text">
          <br/>
          Intense training for those who are looking to be strong inside and out.
        </p>
      </div>
    </div>
  </section>

  <section class="front-page">
    <article class="front-blog">
      <h2 class="blog-title">Placeholder</h3>
      <figure class="media">
        <%= image_tag "http://via.placeholder.com/800x350", class: "blog-image" %>
      </figure>
      <p class="blog-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        <br>

        <%= link_to "Rest of Blog", "", class: "blog-link" %>
      </p>
    </article>
  </section>
</main>
